.card{
    margin: 0 auto;
    .bg-rouge{
        background-color: $rouge;
    }
    .bg-jaune{
        background-color: $jaune;
    }
    .bg-vert{
        background-color: $vert;
    }

    .icon{
        margin: 0 20px;
    }
}